@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
      ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
}
